
table{
    padding: 0;
    margin: 0;
    border: solid black 1px;
    border-radius: 6px;
}


.table-cell{
    margin: 0;
    padding: 0;
    width: 250px;
    text-align: center;
    border-bottom: solid black 1px;
    border-right: solid black 1px ;
    background: inherit;
}
