
*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    text-shadow: 0 0 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
}

aside{
    display: block;
    width: 20vw;
    height: 100%;
    border-right: 1px solid gray;
}

.in-block{
    padding: 4px;
}

.nav-logo{
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
    align-items: center;
    justify-content: center;
}

#img-prof{
    max-width: 50%;
    border-radius: 50%;
    box-shadow: 0 0 16px;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
    box-shadow: 0 0 8px ;
    justify-content: space-between;
    margin-right: ;
}

header div{
    display: flex;
    margin: 4px;
    max-width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

header .menu-nav{
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

header .menu-nav a{
    padding: 0px;
    margin: 4px;
    color: black;
    text-decoration: none;
    font-size: 16pt;
}

header menu nav{
    margin-right: 12px;
}

header .menu-nav a:not(:last-child){
    margin-right: 24px;
}

#main-header{
    width: 100%;

}

main{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

main section .main-blocks-descript{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-iframe{
    display: block;
    width: 100%;
}

.galery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.galery a {
    text-decoration: none;
    color: inherit;
}

.main-blocks{
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 0;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 8px ;
    cursor: pointer;
}

.main-blocks span{
    display: none;
    position: absolute;
    opacity: 0;
    background: #006600 ;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    transition: opacity 0.3s, visibility 0.3s;
    text-align: center;
    text-wrap: wrap;
}

.main-blocks span:not(.tag-down span)::before{
    content: "";
    position: absolute;
    display:block;
    width: 50px;
    height: 50px;
    background: #006600 ;
    transform: rotate(45deg);
    bottom: -20px;
    left: 50px;
    border-radius: 4px;
    z-index: -1;
}

.main-blocks:hover span{
    padding: 10px;
    margin-top: -140px;
    display: flex;
    max-width: 280px;
    visibility: visible;
    opacity: 1;
}

.tag-down span{
    background: transparent;
    color: rgba(0, 50, 0, .8);
}


.main-blocks:hover {
    box-shadow: 0 0 16px;
    background: rgba(0, 255,0, .2);
}

#data-structure:hover{
    background: rgba(255, 0,0, .2)
}

.tag-down{
    position: relative;
}

.tag-down span{
    bottom: 0;
}
.main-blocks .card-title{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px 9px 0 0;
    border-bottom: 1px solid gray;
}

.main-blocks .descript h4{
    margin: 6px;
    text-align: start;
}
.main-blocks .descript{
    text-align: end;
    text-justify: newspaper;
}
.main-blocks .tag-down{
    padding: 0;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.buttons{
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 50px;
    background: rgba(0, 0, 0, .2);
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    width: 100%;
}

.buttons div{
    padding: 10px;
    align-items: center;
    width: 100px;
    text-align: center;
}


.buttons div a{
    font-size: 20pt;
    text-decoration: none;
    color: inherit;
}

.buttons #home{
    display: flex;
    flex-direction: column;
}

.button{
    width: 100px;
}

#container-iframe{
    max-width: 100%;
}

.footer-logo {
    /* Adicionei uma classe para o logo no footer, você pode personalizar conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100%; /* Certifique-se de que ocupa toda a altura do footer */
    border-right: 1px solid gray; /* Linha de separação entre as seções do footer */
}

.footer-logo img {
    /* Estilos para a imagem do logo, ajuste conforme necessário */
    width: 70%;
    height: auto;
}

.footer-left{
    display: flex;
    max-width: 100%;
    margin: 2px;
    padding: 2px;
}
.footer-right{
    font-size: 8pt;
    text-align: right;
}

.footer-nav {
    /* Adicionei uma classe para a navegação no footer, você pode personalizar conforme necessário */
    display: flex;
    align-items: center;
}

.footer-nav a {
    /* Estilos para os links no footer */
    padding: 0px;
    margin: 0 12px; /* Ajuste o espaçamento entre os links conforme necessário */
    color: black;
    text-decoration: none;
    font-size: 14pt; /* Ajuste o tamanho da fonte conforme necessário */
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

section article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
}

section article h1{
    align-self: flex-start;
    text-align: start;
    font-size: 22pt;
}

section article p{
    text-align: left;
    padding-bottom: 12px;
    align-self: start;
}

section article p strong{
    max-width: fit-content;
}

section * h3{
    text-align: left;
    margin-top: 50px;
}

.in-article-container{
    margin-bottom: 14px;
}

.img-left-middle{
    float: left;
    margin-right: 20px;
}

.img-right-middle{
    float: right;
    margin-left: 20px;
}


.in-article-img{
    width: 200px;
}


.in-article-container-text{
    width: auto;
    justify-content: center;
    align-items: center;
}

.container-img-large{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.in-article-img-large{
    margin: 12px;
    width: 100%;
}

.text-in-article-right{
    text-align: right;
}

.code-container{
    display:block;
    width: 70%;
}

.python {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    text-shadow: 0 0 1px;
}

.code-container pre{
    margin: 0;
    padding: 0;
}

.code-container .targe{
    text-align: end;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}

table{
    padding: 0;
    margin: 0;
    border: solid black 1px;
    border-radius: 6px;
}


.table-cell{
    margin: 0;
    padding: 0;
    width: 250px;
    text-align: center;
    border-bottom: solid black 1px;
    border-right: solid black 1px ;
    background: inherit;
}


@media only screen and (max-width: 920px){

    main section .main-blocks-descript{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
    }

    header menu nav{
        width: 100%;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    aside{
        order: 1;
        display: flex;
        flex-direction: row;
        position: relative;

        border-left: 0;
        border: solid gray 1px;
        
        width: 100%;
        height: 200px;

        align-items: center;
        justify-content: center;
    }
    .nav-logo{
        display: none;
    }

    .social_media{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .in-block{
        display: flex;
        flex-direction: row;
        max-width: 140px;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .in-block a{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

footer {
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between; /* Adicionei esta propriedade para distribuir os elementos no footer */
    box-shadow: 0 0 8px;
    
}

#openMenu, #closeMenu{
    border: none;
    background: none;
    font-size: 12pt;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 925px){
  
    #openMenu{
        display: flex;
    }

    #responsive-menu{
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .resp-button{
        display: flex;
        justify-content: end;
    }

    #openMenu {
        font-size: 32pt;
    }

    #closeMenu{
        display: block;
        font-size: 40pt;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
}