body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section{
    display: flex;
    margin: 12px;
    padding: 12px;
    align-items: center;
    justify-content: center;
}

section article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
}

section article h1{
    align-self: flex-start;
    text-align: start;
    font-size: 22pt;
}

section article p{
    text-align: left;
    padding-bottom: 12px;
    align-self: start;
}

section article p strong{
    max-width: fit-content;
}

section * h3{
    text-align: left;
    margin-top: 50px;
}

.in-article-container{
    margin-bottom: 14px;
}

.img-left-middle{
    float: left;
    margin-right: 20px;
}

.img-right-middle{
    float: right;
    margin-left: 20px;
}


.in-article-img{
    width: 200px;
}


.in-article-container-text{
    width: auto;
    justify-content: center;
    align-items: center;
}

.container-img-large{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.in-article-img-large{
    margin: 12px;
    width: 100%;
}

.text-in-article-right{
    text-align: right;
}

.code-container{
    display:block;
    width: 70%;
}

.python {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    text-shadow: 0 0 1px;
}

.code-container pre{
    margin: 0;
    padding: 0;
}

.code-container .targe{
    text-align: end;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}

table{
    padding: 0;
    margin: 0;
    border: solid black 1px;
    border-radius: 6px;
}


.table-cell{
    margin: 0;
    padding: 0;
    width: 250px;
    text-align: center;
    border-bottom: solid black 1px;
    border-right: solid black 1px ;
    background: inherit;
}
