body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: 0px 0px 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: oblique;
}

section{
    margin: 12px;
    padding: 12px;
}

section article h1{
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 22pt;
}

section article p{
    margin: 14px;
}

section * h3{
    margin-top: 100px;
}

.in-article-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
}
.in-article-img{
    width: 200px;
}

.container-img-large{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.in-article-img-large{
    margin: 12px;
    width: 500px;
}

.text-in-article-right{
    text-align: right;
}
