body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section{
    margin: 12px;
    padding: 12px;
}

section article{
    align-items: center;
    justify-content: center;
    text-align: center;
}

section article h1{
    align-self: flex-start;
    text-align: start;
    font-size: 22pt;
}

section article p{
    text-align: left;
    padding-bottom: 12px;
}

section * h3{
    text-align: left;
    margin-top: 50px;
}

.in-article-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
}
.in-article-img{
    width: 200px;
}

.container-img-large{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.in-article-img-large{
    margin: 12px;
    width: 500px;
}

.text-in-article-right{
    text-align: right;
}

.code-container{
    display:block;
    width: 70%;
}

.python {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    text-shadow: 0 0 1px;
}

.code-container .targe{
    text-align: end;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}
